.about {
    margin-top: rem(-167);
    margin-bottom: rem(36);
    position: relative;
    @media(max-width:1600px){
        margin-top: rem(-134);
    }
    @media(max-width:1050px){
        margin-top: rem(-116);
    }
    @media(max-width:600px){
        margin-top: 0;
    }
    &__container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
        padding-bottom: rem(96);
        @media(max-width:1440px){
            padding-bottom: rem(64);
        }
        @media(max-width:1036px){
            padding-bottom: rem(54);
        }
        @media(max-width:520px){
            padding-bottom: rem(35);
        }
    }

    &__title {
       @include adaptiveClamp(font-size, 256, 76);
       text-align: center;
       width: 100%;
       line-height: 100%;
       @media(max-width:1440px){
        @include adaptiveClamp(font-size, 243, 76);
       }
       @media(max-width:768px){
        @include adaptiveClamp(font-size, 256, 76);
       }
    }

    &__fon {
        width: 100%;
        img {
            width: 100%;
        }

        .web {
            @media(max-width:1036px){
                display: none;
            }
        }
        .plan {
            @media(min-width:1037px){
                display: none;
            }
            @media(max-width:600px){
                display: none;
            }
        }
        .mob {
            @media(min-width:600px){
                display: none;
            }
        }
    }
}
.web {
}
