.gallery {
    padding-top: rem(196);
    @media(max-width:768px){
        padding-top: rem(96);
    }
    &__container {
    }

    &__title {
        margin-bottom: rem(32);
    }

    &__cotainer {
    }
    &__swiper {
      
        @media(max-width:460px){
            overflow: hidden;
        }
    }
    &__row {
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: rem(20);
            @media(max-width:1200px){
                grid-template-columns: 1fr 1fr;
            }
            @media(max-width:768px){
                grid-template-columns: 1fr;
                max-width: rem(540);
                margin-left: auto;
                margin-right: auto;
            }
    }

    &__img {
        img {
            width: 100%;
        }
      
    }

    &__button-row {
        margin-top: rem(32);
    }
}
.page-container {
}
.title-block {
}
